$ cat .gitignore

*.bgn
*.bld
*.cmd
*.cmd_log
*.csv
*.drc
*.exe
*.gise
*.html
*.ini
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.projectmgr
*.ptwx
*.stx
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.wdb
*.xml
*.xpi
*.xreport
*.xrpt
*.xst
*.xwbt
*.zip
ipcore_dir/*
iseconfig/*
iseconfig/*.projectmgr
isim/*
planAhead_run_1/*
xlnx_auto_0_xdb/*
xst/*
_ngo/*
_xmsgs/*